/*
 * Copyright (c) 2019 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */


&i2c2 {
	status = "okay";
	compatible = "nordic,nrf-twim";
	sda-pin = <11>;
	scl-pin = <13>;
	mpu9250: mpu9250@68 {
		compatible = "invensense,mpu9250";
		reg = <0x68>;
		label = "MPU9250";
		gyro-sr-div = <200>;
		gyro-dlpf = <92>;
		gyro-fs = <2000>;
		accel-fs = <2>;
		accel-dlpf = "21.2";
		irq-gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
	};
};

&i2c3 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    sda-pin = <30>;
    scl-pin = <31>;
    clock-frequency = < I2C_BITRATE_STANDARD >;

    shield_qdec: pca63539-qdec@28 {
        compatible = "nordic,pca63539-qdec";
        status = "okay";
        label = "PCA63539-QDEC";
        reg = <0x28>;
    };
};